{% extends 'layout/app-layout.html' %}
{% block 'content' %}

{%load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>



  <!-- Hero Section -->
  <header class="hero-section hero-section1 bg-dark text-white">
      <div class="container d-flex flex-column flex-lg-row align-items-center justify-content-between ">
          <div class="hero-text">
              <h5>Welcome to Robix</h5>
              <h1 class="display-5 fw-bold fade-in" >
                The Modern Frontier of <br>
                <span class="underline-effect">Robotics</span> 
                in Industry
            </h1>
            <p class="lead text-muted fade-in">
                This insightful exploration delves into the latest advances in robotic technologies and automation.
            </p>
            <div class="mt-4 fade-in"> 
                <a href="#" class="btn btn-primary btn-lg rounded-pill me-3" >Get Started</a>
                <button class="btn btn-link btn-lg text-white straight-line" style="border-radius: 0;">
                    <a href="#" class="straightline ">Learn More</a>
                </button>
                <i class="bi bi-arrow-right"></i>
            </div>             
          </div>
          
          <div class="hero-image d-flex align-items-center">
              <div class="info-box p-3 rounded-3 shadow-lg blur-box info-boxes1 " style="margin-top: -180px;">
                <h3 class="display-5 fw-bold"></h3>
                <p class="text-white">Years of Experience</p>
              </div>
              <img src="{% static 'imgnew.png' %}" alt="Robotic Arm" class="img-fluid robotic-arm" >
            
              <div class="info-box p-3 rounded-3 shadow-lg blur-box info-boxes">
                <h3 class="display-5 fw-bold"></h3>
                <p class="text-white">Best Award Product</p>
              </div>
            </div>
            
          
      </div>
  </header>

      
          </div>
      </div>
  </div>

<!-- c -->
<div class="container-fluid" style="background-color: #3390c3;">
<div class="row" style="height: 60px; overflow: hidden;">
  <div class="carousel-wrapper carousel-wrapper1">
    <div class="carousel-item carousel-item1">
      <div class="d-flex align-items-center item">
        <img src="{% static 'direction.png'%}" alt="Sitemark" width="20" height="25">
        <span class="text-muted fs-5 fw-bold">Sitemark</span>
      </div>
      <div class="d-flex align-items-center item">
        <img src="{% static 'snowicon.png'%}" alt="Nextmove" width="20" height="25">
        <span class="text-muted fs-5 fw-bold">Nextmove</span>
      </div>
      <div class="d-flex align-items-center item">
        <img src="{% static 'direction.png'%}" alt="Inspirex" width="20" height="25">
        <span class="text-muted fs-5 fw-bold">Inspirex</span>
      </div>
      <div class="d-flex align-items-center item">
        <img src="{% static 'snowicon.png'%}" alt="Another" width="20" height="25">
        <span class="text-muted fs-5 fw-bold">Inspirex</span>
      </div>
    </div>
  </div>
</div>
</div>



<!-- Main Content Section -->
<div class="container-fluid  centered-content3">
<div class="container my-5 ">
  <div class="p-5 bg-light box">
      <div class="row align-items-center">
          <!-- Image Section -->
          <div class="col-md-6">
            <div class="position-relative">
              <!-- Link to YouTube video -->
              <a href="https://www.youtube.com/watch?v=YOUR_VIDEO_ID" target="_blank">
                  <img src="{% static 'roboimg2.jpg'%}" alt="Robotic Machines" class="img-fluid ">
                  <div class="play-button position-absolute top-50 start-50 translate-middle">
                      <i class="fas fa-play"></i>
                  </div>
              </a>
            </div></div>
          

          <!-- Text Section -->
          <div class="col-md-6 mt-sm-4 mt-lg-0 mt-md-4 mt-5">
              <h2 class="fw-bold">Excellence in Modern Industry Services</h2>
              <p class="text-muted">
                  Lorem ipsum dolor sit amet elit adipiscing consectetur. Aenean commodo ligula eget dolor aenean mass.
              </p>
              <div class="row">
                <div class="col-12 col-lg-6 d-flex align-items-center mb-3">
                  <p class="text-dark mb-0">
                    <img src="{% static 'check.png' %}" alt="Check Icon" class="icon-small"> Affordable Price
                  </p>
                </div>
                <div class="col-12 col-lg-6 d-flex align-items-center mb-3">
                  <p class="text-dark mb-0">
                    <img src="{% static 'check.png' %}" alt="Check Icon" class="icon-small"> Precision and Accuracy
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-lg-6 d-flex align-items-center mb-3">
                  <p class="text-dark mb-0">
                    <img src="{% static 'check.png' %}" alt="Check Icon" class="icon-small"> Consistent Quality
                  </p>
                </div>
                <div class="col-12 col-lg-6 d-flex align-items-center mb-3">
                  <p class="text-dark mb-0">
                    <img src="{% static 'check.png' %}" alt="Check Icon" class="icon-small"> Increased Productivity
                  </p>
                </div>
              </div>
              <a href="#" class="btn  mt-3 d-inline-block">About Us <span class="arrow-icon">&rarr;</span></a>
              
      </div>
  </div>
</div>

</div>

<!-- Why Choose Us -->
<div class="container-fluid choosebox">
  <div class="row" style="margin-bottom: 45px;">
      <div class="col-12">
          <h5 class="text-primary">
              Why Choose Us
          </h5>
      </div>
      <div class="col-md-8 col-lg-10">
          <p class="text-muted">
              Opting for the robot machine industry represents a visionary commitment to the 
              <span >forefront of technological evolution.</span> 
              This dynamic sector is characterized by its relentless pursuit of innovation and efficiency.
          </p>
      </div>
  </div>
</div>


<!-- Client Reviews -->
<div class="mb-5">
  <div class="client-reviews d-flex align-items-center">
    <div class="avatars d-flex flex-nowrap align-items-center">
      <div class="avatar small-avatar"><img src="{% static 'people.jpg' %}" alt="Client 1"></div>
      <div class="avatar small-avatar"><img src="{% static 'people.jpg' %}" alt="Client 2"></div>
      <div class="avatar small-avatar"><img src="{% static 'people.jpg' %}" alt="Client 3"></div>
      <div class="client-count small-count" id="clientCount">5</div>
    </div>
    <div class="client-info ms-3 small-text col-6 col-lg-2 col-md-4 col-sm-4">
      Active clients with positive reviews...
    </div>
  </div>
</div>

</div>



<!-- section3 -->


  <div class="centered-content" >
    <h2 class="display-4 mb-3  d-block servicehead text-white" >Our Services</h2><br>
    <h5 class=" d-block servicehead1">Peak-Performance System Services</h5><br> 
    <p class="  servicep">We specialize in crafting tailored services specifically designed<br> for the dynamic world of robotic arms in the industry.</p>



  <div class="container my-5">
    <div class="row mb-4">
      <!-- First Card -->
      <div class="col-lg-7 col-md-12 mb-3 mb-lg-0">
        <div class="card card1 h-100 d-flex flex-column">
          <div class="row align-items-center">
            <div class="col-md-8">
              <div class="card-body">
                <h2 class="card-title">Robotic Arm Integration</h2>
                <p class="card-text ">
                  Aliquam lorem ante dapibus in viverra feugiat a tellus phasellus viverra metus varius laoreet.
                </p>
                <a href="#" class="learn-more d-block mt-3">Learn More</a>
              </div>
            </div>
            <div class="col-md-4 jumb-box">
              <img src="{% static 'teamimg.png'%}" alt="Robotic Arm" class="img-fluid rounded jumb">
            </div>
          </div>
        </div>
      </div>
  
      <!-- Second Card -->
      <div class="col-lg-5 col-md-12">
        <div class="card card1 h-100 d-flex flex-column">
          <div class="row align-items-center">
            <div class="col-md-8">
              <div class="card-body">
                <h2 class="card-title">Robot Resources</h2>
                <p class="card-text">
                  Aliquam lorem ante dapibus in viverra feugiat a tellus phasellus viverra metus varius laoreet.
                </p>
                <a href="#" class="learn-more d-block mt-3">Learn More</a>
              </div>
            </div>
            <div class="col-md-4 jumb-box">
              <img src="{% static 'serviceimg1.png'%}" alt="Robot Resources" class="img-fluid rounded jumb">
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <!-- Third Card -->
      <div class="col-lg-5 col-md-12 mb-3 mb-lg-0">
        <div class="card card1 h-100 d-flex flex-column">
          <div class="row align-items-center">
            <div class="col-md-8">
              <div class="card-body">
                <h2 class="card-title">Robotic Arm Integration</h2>
                <p class="card-text">
                  Aliquam lorem ante dapibus in viverra feugiat a tellus phasellus viverra metus varius laoreet.
                </p>
                <a href="#" class="learn-more d-block mt-3">Learn More</a>
              </div>
            </div>
            <div class="col-md-4 jumb-box">
              <img src="{% static 'serviceimg2.png'%}" alt="Robotic Arm" class="img-fluid rounded jumb">
            </div>
          </div>
        </div>
      </div>
  
      <!-- Fourth Card -->
      <div class="col-lg-7 col-md-12">
        <div class="card card1 h-100 d-flex flex-column">
          <div class="row align-items-center">
            <div class="col-md-8">
              <div class="card-body">
                <h2 class="card-title">Robot Resources</h2>
                <p class="card-text">
                  Aliquam lorem ante dapibus in viverra feugiat a tellus phasellus viverra metus varius laoreet.
                </p>
                <a href="#" class="learn-more d-block mt-3">Learn More</a>
              </div>
            </div>
            <div class="col-md-4 jumb-box">
              <img src="{% static 'serviceimg3.png'%}" alt="Robot Resources" class="img-fluid rounded jumb">
            </div>
          </div>
        </div>
      </div><br><br>
    </div>
  </div>
  </div>
<!-- section4 -->

<div class="container-fluid my-5 centered-content3">
  <div class="jumbotron carousalcards">
    <div class="row align-items-center">
      <div class="col-lg-4 mb-4">
        <div class="testimonial-header">
          <h2>Over 100+ People Trust Us</h2>
          <p>Lorem ipsum dolor sit amet consectetur elit. Aenean commodo ligula dolor aenean.</p>
          <a href="#" class="btn learnmore">
            View More <span class="arrow-icon">&rarr;</span>
          </a>
          
        </div>
      </div>
  
      <!-- First Testimonial -->
      <div class="col-md-12 col-lg-8 col-sm-12 col-12  ">
        <div class="row cards1">
          <!-- First Testimonial -->
          <div class="col-md-12 col-lg-6 col-sm-12 col-12 mb-4 mt-lg-5 mt-md-0 mt-sm-0 mt-3">
            <div class="testimonial-card">
              <div id="cardCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
                <div class="carousel-inner">
                  <!-- First Carousel Item -->
                  <div class="carousel-item active">
                    <div class="card cardcarousel1" >
                      <div class="card-body">
                        <p>Robotic arms, Big impact. Increased efficiency, improved quality, and a savvy investment for my small business.</p>
                        <div class="stars">★★★★★</div>
                        <div class="profile text-center">
                          <img src="{% static 'people.jpg'%}" class="img-fluid rounded-circle" alt="Mellisa Doe">
                          <div><strong>Mellisa Doe</strong><br><span>Business Owner</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
        
                  <!-- Second Carousel Item -->
                  <div class="carousel-item ">
                    <div class="card cardcarousel1 " >
                      <div class="card-body">
                        <p>Logistics just got a turbo boost! Robotic arms in our warehouse manage inventory with lightning speed. Thank you Robix.

                        </p>
                        <div class="stars">★★★★★</div>
                        <div class="profile text-center">
                          <img src="{% static 'people.jpg'%}" class="img-fluid rounded-circle" alt="John Smith">
                          <div><strong>John Smith</strong><br><span>Entrepreneur</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
        
              </div>
            </div>
          </div>
       
        
          <!-- Second Testimonial -->
          
          <div class="col-md-12 col-lg-6 col-sm-12 col-12 mb-4 cards2 mt-lg-n5 mt-md-0 mt-sm-0 mt-3">
            <div class="testimonial-card">
              <div id="carouselExample1" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="card">
                      <div class="card-body">
                        <p>Robotic arms nailed our quality control game. Consistency, speed, and flawless inspections every time.

                        </p>
                        <div class="stars">★★★★★</div>
                        <div class="profile text-center">
                          <img src="{% static 'people.jpg'%}" class="img-fluid rounded-circle" alt="Mellisa Doe">
                          <div class="name"><strong>Mellisa Doe</strong><br><span>Business Owner</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card " >
                      <div class="card-body ">
                        <p>Robotic arms, Productivity on steroids. Love the flexibility and precision they bring to my projects.

                        </p>
                        <div class="stars">★★★★★</div>
                        <div class="profile text-center">
                          <img src="{% static 'people.jpg'%}" class="img-fluid rounded-circle" alt="John Smith">
                          <div class="name"><strong>John Smith</strong><br><span>Entrepreneur</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div></div>
      
          <!-- Third Testimonial -->
          <div class="row cards1">
            <div class="col-md-12 col-lg-6 col-sm-12 col-12 mb-4 cards2  mt-lg-5 mt-md-0 mt-sm-0 mt-3" >
              <div class="testimonial-card">
                <div id="carouselExample1" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="card" >
                        <div class="card-body">
                          <p>Robotic arms, Big impact. Increased efficiency, improved quality, and a savvy investment for my small business.</p>
                          <div class="stars">★★★★★</div>
                          <div class="profile text-center">
                            <img src="{% static 'people.jpg'%}" class="img-fluid rounded-circle" alt="Mellisa Doe">
                            <div class="name"><strong>Mellisa Doe</strong><br><span>Business Owner</span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item" >
                      <div class="card " >
                        <div class="card-body ">
                          <p>Collaborative robotics Safe and efficient. Our team's productivity skyrocketed with these robotic helpers.

                          </p>
                          <div class="stars">★★★★★</div>
                          <div class="profile text-center">
                            <img src="{% static 'people.jpg'%}" class="img-fluid rounded-circle" alt="John Smith">
                            <div class="name"><strong>John Smith</strong><br><span>Entrepreneur</span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <!-- Fourth Testimonial -->
          <div class="col-md-12 col-lg-6 col-sm-12 col-12 mb-4 cards2  mt-lg-n5 mt-md-0 mt-sm-0 mt-3">
            <div class="testimonial-card">
              <div id="carouselExample1" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="card" >
                      <div class="card-body">
                        <p>Robotic arms redefined our assembly lines. Lightning-fast and spot-on precision. Our cars never looked better.

                        </p>
                        <div class="stars">★★★★★</div>
                        <div class="profile text-center">
                          <img src="{% static 'people.jpg'%}" class="img-fluid rounded-circle" alt="Mellisa Doe">
                          <div class="name"><strong>Mellisa Doe</strong><br><span>Business Owner</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card " >
                      <div class="card-body ">
                        <p>Mind-blowing tech, These robotic arms are a geek's dream. The precision and versatility are unmatched.</p>
                        <div class="stars">★★★★★</div>
                        <div class="profile text-center">
                          <img src="{% static 'people.jpg'%}" class="img-fluid rounded-circle" alt="John Smith">
                          <div class="name"><strong>John Smith</strong><br><span>Entrepreneur</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  
 
    </div>
  </div><br><br><br><br><br><br><br>
</div>

</div>


<!--section4.1  -->

<div class="custom-background-section">
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-8 col-sm-12">
        <div class="blur-card parallax p-4">
          <p class="display-4">Transform Your Operations Today!</p>
          <p class="lead">Explore cutting-edge automation designed to transform your business efficiency.</p>
          <a href="#" class="btn btn-primary btn-lg rounded-pill me-3 mb-2">Get Started</a>
          <a href="#" class="btn learnmore1">Learn More <span class="arrow-icon">&rarr;</span></a>
        </div>
      </div>
    </div>
  </div>
</div>






<!-- section5 -->
<section class="blog-section">
<div class="blog-header text-center">
  <h4>Our Blog</h4>
  <h2>Latest News & Updated</h2>
</div>
<div class="container">
  <div class="row justify-content-center">
    <!-- Blog Card 1 -->
    <div class="col-12 col-md-12 col-lg-4 mb-4">
      <div class="blog-card">
        <div class="blog-image">
          <img src="{% static 'img2.jpg'%}" alt="Robotic Arm" class="img-fluid">
          <span class="badge">Tips & Trick</span>
        </div>
        <h3 ><a href="#" class="blogtext">Exploring the Latest in Robotic Arm Technology</a></h3>
        <p>by <span class="author-name">John Doe</span> &bull; January 28, 2024</p>
      </div>
    </div>

    <!-- Blog Card 2 -->
    <div class="col-12 col-md-12 col-lg-4 mb-4">
      <div class="blog-card">
        <div class="blog-image">
          <img src="{% static 'img2.jpg'%}" alt="Robotic Arm" class="img-fluid">
          <span class="badge">Tips & Trick</span>
        </div>
        <h3 ><a href="#" class="blogtext">Exploring the Latest in Robotic Arm Technology</a></h3>
        <p>by <span class="author-name">John Doe</span> &bull; January 28, 2024</p>

      </div>
    </div>

    <!-- Blog Card 3 -->
    <div class="col-12 col-md-12 col-lg-4 mb-4">
      <div class="blog-card">
        <div class="blog-image">
          <img src="{% static 'img2.jpg'%}" alt="Robotic Arm" class="img-fluid">
          <span class="badge">Tips & Trick</span>
        </div>
        <h3><a href="#" class="blogtext">Exploring the Latest in Robotic Arm Technology</a></h3>
        <p>by <span class="author-name">John Doe</span> &bull; January 28, 2024</p>
      </div>
    </div>
    
  </div>
</div>
</section>


<!-- section6 -->
<div class="container-fluid" >
  <div class="row justify-content-center">
    <section class="faq-section text-center col-md-8">
      <h2 class="mb-4">Frequently Asked Questions</h2>
      <div id="accordion">
        <div class="accord">
          <div class="accordh" id="headingOne">
            <a
              class="accordl d-flex justify-content-between align-items-center"
              data-bs-toggle="collapse"
              href="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              How do industrial robots work?
              <span class="arrow"></span>
            </a>
          </div>
          <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
            <div class="accordb">
              Industrial robots use advanced algorithms and sensors to automate tasks traditionally performed by humans.
            </div>
          </div>
        </div>
        <div class="accord">
          <div class="accordh" id="headingTwo">
            <a
              class="collapsed accordl d-flex justify-content-between align-items-center"
              data-bs-toggle="collapse"
              href="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              What are the main applications of industrial robots?
              <span class="arrow"></span>
            </a>
          </div>
          <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
            <div class="accordb">
              Common applications include welding, assembly, packaging, and material handling.
            </div>
          </div>
        </div>
        <div class="accord">
          <div class="accordh" id="headingThree">
            <a
              class="collapsed accordl d-flex justify-content-between align-items-center"
              data-bs-toggle="collapse"
              href="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              How can industrial robots benefit businesses?
              <span class="arrow"></span>
            </a>
          </div>
          <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
            <div class="accordb">
              Industrial robots increase efficiency, reduce labor costs, and improve product consistency.
            </div>
          </div>
        </div>
        <div class="accord">
          <div class="accordh" id="headingFour">
            <a
              class="collapsed accordl d-flex justify-content-between align-items-center"
              data-bs-toggle="collapse"
              href="#collapseFour"
              aria-expanded="false"
              aria-controls="collapseFour"
            >
              What types of industries commonly use industrial robots?
              <span class="arrow"></span>
            </a>
          </div>
          <div id="collapseFour" class="collapse" data-bs-parent="#accordion">
            <div class="accordb">
              Industries such as automotive, electronics, food processing, and pharmaceuticals use industrial robots extensively.
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>



{%endblock%} 
  
  
{% block 'footer' %}
{%endblock%}
</body>


</html>
