{% extends 'layout/app-layout.html' %}
{% block 'content' %}
{%load static %}
   
</head>
<body class="no-background">

    <div class="centered-content4 hero-section" >
        <h4  class="fade-in servicehead d-block">Our Team</h4><br> <h1  class="fade-in servicehead1 d-block" >Crafting <span class="underline-effect">Excellence</span> in Robotic Arms</h1><br> 
    <p  class="fade-in servicep d-block ">Welcome to our elite team, where mastery meets<br> innovation in the realm of robotic arms.</p><br>
    
</div>  
    

<!-- section2 -->


<div class="container mt-lg-n4 mt-md-n4 mt-sm-n5 mt-n5" >
    <div class="row " >
        <div class="col-lg-4 col-md-6 col-sm-12 my-3">
            <div class="image-container3">
              <img src=" {% static 'workimg1.jpg' %} " alt="Person">
              <div class="overlay">
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="info-box1 text-center">
                <h3 >George</h3>
                <p>Designer</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 my-3">
            <div class="image-container3">
              <img src=" {% static 'workimg2.jpg' %} " alt="Person">
              <div class="overlay">
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="info-box1 text-center">
                <h3 >George</h3>
                <p>Designer</p>
            </div>
        </div>
    </div>

       
    <div class="col-lg-4 col-md-6 col-sm-12 my-3">
            <div class="image-container3">
              <img src=" {% static 'workimg4.jpg' %}" alt="Person">
              <div class="overlay">
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="info-box1 text-center">
                <h3 >George</h3>
                <p>Designer</p>
            </div>
        </div>
      </div></div>

  
<div class="row " >
  <div class="col-lg-4 col-md-6 col-sm-12 my-3">
            <div class="image-container3">
              <img src=" {% static 'workimg5.jpg' %}" alt="Person">
              <div class="overlay">
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="info-box1 text-center">
                <h3 >George</h3>
                <p>Designer</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 my-3">
            <div class="image-container3">
              <img src=" {% static 'workimg3.jpg' %}" alt="Person">
              <div class="overlay">
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="info-box1 text-center">
                <h3 >George</h3>
                <p>Designer</p>
            </div>
        </div>
    </div>

       
    <div class="col-lg-4 col-md-6 col-sm-12 col-12 my-3">
            <div class="image-container3">
              <img src="  {% static 'people.jpg' %}" alt="Person">
              <div class="overlay">
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="info-box1 text-center">
                <h3 >George</h3>
                <p>Designer</p>
            </div>
        </div>
    </div>

    </div>

</div><br><br>
<div class="container-center ">
<div class="jumbotron-box">
    <img src=" {% static 'teamimg.png' %} " alt="Join Our Team" class="jumbotron-image">
    <div class="jumbotron-content">
      <h1 class="fade-in">Keen to  <span class="underline-effect active">Contribute </span>Your Talents? Join Our Team!</h1>
      <p>
        Ready to join us? Explore exciting opportunities to be part of our dynamic team. 
        Let's build something great together!
      </p>
      <a href="#" class="btn btn-primary" >Join Now</a>
    </div>
  </div></div>


  {%endblock%}
  
  {% block 'footer' %}
  {%endblock%}