
{% load static %}

<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand text-muted ml-lg-5 ml-md-5 ml-sm-5 ml-5" href="#">
            <img src="{% static 'iconrobix.png' %}" alt="Robix Logo" width="150" height="35">
        </a>
        
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon" ></span>
        </button>
        
        <!-- Navbar content -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'home' %}">Home</a>
              </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'aboutus' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'service' %}">Services</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown">Pages</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item text-dark" href="{% url 'team' %}">Team</a></li>
                        <li><a class="dropdown-item text-dark" href="{% url 'faq' %}">FAQ</a></li>
                        <li><a class="dropdown-item text-dark" href="{% url 'contact' %}">Contact us</a></li>
                        <li><a class="dropdown-item text-dark" href="{% url 'notfound' %}">404 page</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown">Blog</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item text-dark" href="{% url 'blog' %}">Blog</a></li>
                        <li><a class="dropdown-item text-dark" href="{% url 'singlepost' %}">Single Post</a></li>
                    </ul>
                </li>
            </ul>
            
            <!-- Phone button aligned right -->
            <span class="navbar-text ml-auto tele d-none d-lg-block">
                <a href="tel:+123456789" class="btn btn-outline-light rounded-pill d-flex align-items-center text-white">
                    <i class="bi bi-telephone me-2 text-white"></i>+123-456-789
                </a>
            </span>
            

  
        </div>
    </div>
</nav>




